p,table,li,h1,h2,h3,h4
{
	font-family: verdana, arial, 'sans serif'; 
}

p, h1, h2, h3, h4, table, li, hr
{
	margin-left: 10pt;
}



p,li,th,td
{
	font-size: 75%;
}

body
{
	#ffffff;
}

#Mbox {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	background-color: #ffffff;
	padding: 8px;
	width: 24em;
	position absolute;
	left: 88em;
}

.red 
{ 
	color : #000000;
	background-color: #ef0000; 
}

.green { background-color: #00ef00; }
.blue { background-color: #38a3f4; }
.yellow { background-color: #efef00; }
.pink { background-color: #ef00ef; }

.rectangle {
	text-align: center;
	vertical-align: 30%;
        color: #000000;
	/* padding: 1px; */
	border-color: #000000;
        border-style: solid;
	border-width: 1px;
        font-size: 12pt;
        position : absolute;
}

body {
        background-color: #fffece;
}


